.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  background-color: #68b738;
  text-transform: uppercase;
}

.button--accent {
  color: $basic-color-text;
  background-color: #f2f2f2;
}
