.hero__title{
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
}

.hero__description{
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-transform: uppercase;
}

.hero__button{
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
}
